/*-----------------------------
        Utilities Import
------------------------------*/
@import url("Site.css");

/*----------------------------------
        Admin Home Page Design
-----------------------------------*/
body {
    background-color: var(--suplux-bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/*----------------------------------
        Admin Card Design
-----------------------------------*/
.suplux-admin-card {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    transition: 0.3s ease-in-out;
}

.suplux-admin-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-card-image {
    display: flex;
    justify-content: center;
}

.admin-card-image svg {
    width: 50%;
    fill: var(--suplux-dark-blue);
}

.admin-card-title h3{
    font-size: 35px;
    font-weight: 600;
    color: var(--suplux-dark-blue);
    text-align: center;
}
