.date {
    width: 100%;
    appearance: none;
}

.date:focus {
    outline: none;
    border-color: #5D9CF5;
}

.ui-datepicker {
    width: 30%;
    padding: 5px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
    display: none;
}

@media screen and (max-width: 580px) {

    .ui-datepicker {
        width: 80%;
    }
}

.ui-datepicker-header {
    height: 40px;
    padding: 3px;
    margin-bottom: 10px;
}

    .ui-datepicker-header .ui-datepicker-title {
        text-align: center;
        line-height: 34px;
    }

.ui-datepicker-month,
.ui-datepicker-year {
    -webkit-appearance: none;
    border: 0;
    background: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #119ae8;
    margin: 0 1px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-indent: 9999px;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        background: #eee;
    }

    .ui-datepicker-prev.ui-state-disabled,
    .ui-datepicker-next.ui-state-disabled {
        background-color: white;
        cursor: default;
    }

.ui-datepicker-prev {
    float: left;
}

    .ui-datepicker-prev:after {
        transform: rotate(45deg);
        margin-left: 15px;
    }

.ui-datepicker-next {
    float: right;
}

    .ui-datepicker-next:after {
        transform: rotate(-135deg);
        margin-left: 10px;
    }

    .ui-datepicker-prev:after,
    .ui-datepicker-next:after {
        content: '';
        position: absolute;
        display: block;
        margin-top: -17px;
        width: 12px;
        height: 12px;
        border-left: 2px solid #119ae8;
        border-bottom: 2px solid #119ae8;
        pointer-events: none;
    }

    .ui-datepicker-prev.ui-state-disabled.ui-datepicker-prev:after,
    .ui-datepicker-next.ui-state-disabled.ui-datepicker-next:after {
        border-left: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }


.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

    .ui-datepicker-calendar thead tr th {
        width: 40px;
        padding-bottom: 6px;
    }

        .ui-datepicker-calendar thead tr th span {
            display: block;
            width: 100%;
            padding: 0;
            color: #fe5e4a;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }

    .ui-datepicker-calendar tbody tr td {
        padding-right: 3px;
        padding-bottom: 3px;
    }

        .ui-datepicker-calendar tbody tr td:first-child {
            padding-left: 3px;
        }

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #119ae8;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

    .ui-state-default:hover {
        background: #eee;
        text-decoration: none;
        color: #032133;
    }

.ui-state-highlight {
    color: #fe5e4a;
}

.ui-state-active:not(.ui-state-highlight) {
    color: white;
    background: #5D9CF5;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #999;
    pointer-events: none;
    font-weight: 400;
}
