/*-----------------------------
        Utilities Import
------------------------------*/
@import url("Site.css");

/*------------------------------------
        Log In Section Design
-------------------------------------*/
#login-section,
#signup-section {
    padding: 200px 0 300px;
    background-color: var(--suplux-bg-color);
}

.login-form-container,
.signup-form-container {
    background-color: white;
    border-top: 4px solid var(--suplux-dark-blue);
    width: 45%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

/*--------------------------
        Form Design
---------------------------*/
.form-title{
    margin: 0;
    color: var(--suplux-dark-blue);
    font-weight: 600;
}

.form-text{
    color: var(--suplux-dark-blue);
    font-weight: 300;
    margin-top: 10px;
}

.form-icon-container {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-icon {
    font-size: 20px;
    color: var(--suplux-form-icon-color);
}

    .form-input-icon i {
        margin: 0;
    }

.form-input-wrapper {
    display: flex;
    margin-top: 25px;
    border: 2px solid var(--suplux-form-icon-color);
    border-radius: 5px;
    padding: 5px 5px 5px 0;
    background-color: var(--suplux-input-bg-color);
}

.form-input-container{
    flex: 1;
}

.form-input-container input {
    width: 100%;
    border: 0;
    padding: 0;
    outline: none;
    font-weight: 500;
    color: var(--suplux-dark-blue);
    background-color: var(--suplux-input-bg-color);
    transition: padding 0.2s ease-in-out;
}

.form-input-container input:focus {
    padding-left: 2px;
}

.form-input-label {
    display: block;
    color: var(--suplux-dark-blue);
}

#pasword-icon{
    cursor: pointer;
}

.form-button-container span{
    display: block;
    text-align: center;
    color: var(--suplux-dark-blue);
}

.form-button-container span a,
.form-checkbox-wrapper span a {
    color: var(--suplux-dark-blue);
    font-weight: 600;
}

.form-button-container span a:hover,
.form-button-container span a:focus,
.form-checkbox-wrapper span a:hover,
.form-checkbox-wrapper span a:focus {
    text-decoration: underline;
}

.mobile-leading-number{
    color: var(--suplux-dark-blue);
    font-weight: 500;
}

#signup-mobile-field {
    width: 90%;
}

.form-checkbox-wrapper{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form-checkbox-wrapper .form-text{
    margin: 0;
}

.log-sign-btn {
    width: 100%;
    margin: 25px 0 25px;
}

.input-empty-error{
    background-color: var(--suplux-input-error-bg-color) !important;
}

/*--------------------------
        Mobile Design
---------------------------*/
@media (max-width: 576px){
    .login-form-container,
    .signup-form-container {
        width: 95%;
    }
}