/*-----------------------------
        Utilities Import
------------------------------*/
@import url("Site.css");

/*-----------------------------
        Utilities 
------------------------------*/
body{
    background-color: var(--suplux-bg-color);
}

.modal-dialog-centered {
    top: 50%;
}

.modal-dialog-centered .modal-content {
    transform: translateY(-50%);
}

.warning-ex {
    color: var(--suplux-buslist-maintain-text-color);
}

.modal-header{
    border-bottom: 1px dashed var(--suplux-dark-blue);
}

.modal-title {
    color: var(--suplux-dark-blue);
    font-size: 20px;
    font-weight: 600;
}

.modal-body {
    font-size: 16px;
    padding: 0;
}

.modal-footer{
    border-top: 1px dashed var(--suplux-dark-blue);
}

/*--------------------------------
        Ticket Section Design
---------------------------------*/
#ticket-section {
    margin: 200px 0 150px;
}

.ticket {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ticket-title{
    margin-top: 0;
    font-weight: 600;
    color: var(--suplux-dark-blue);
}

.ticket-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 90px;
    margin-top: 20px;
}

.ticket-info{
    text-align: right;
    font-size: 16px;
    color: var(--suplux-dark-grey);
}

.ticket-data{
    font-size: 16px;
    font-weight: 600;
    color: var(--suplux-dark-skyblue);
}

.ticket-footer{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.ticket-footer button + button{
    margin-left: 10px;
}

/*------------------------------------------
        Payment Option Section Design
-------------------------------------------*/
#payment-options-container {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 80px;
}

.payment-options{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.payment-option {
    width: 120px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.payment-option:hover{
    transform: scale(1.2);
}

.payment-option img{
    width: 100%;
}

.payment-option + .payment-option{
    margin-left: 20px;
}

/*------------------------------------------
        Modal Section Design
-------------------------------------------*/
#payment-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    padding: 30px;
}

#payment-info .ticket-info,
#payment-info .ticket-data{
    font-size: 18px;
}

.account-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-top: 1px dashed var(--suplux-dark-blue);
}

.account-info-container input{
    width: 80%;
    padding: 8px 15px;
    border: 2px solid var(--suplux-dark-blue);
    border-radius: 10px;
    font-weight: 600;
}

.account-info-container input + input{
    margin-top: 20px;
}

/*--------------------------
        Tablet Design
---------------------------*/
@media (max-width: 1024px){
    .ticket-body{
        column-gap: 30px;
    }

    #payment-info{
        column-gap: 30px;
    }
}

/*--------------------------
        Mobile Design
---------------------------*/
@media (max-width: 576px){
    .ticket-body {
        grid-template-columns: repeat(2, 1fr);
    }

    .ticket-title {
        text-align: center;
    }

    .ticket-footer {
        justify-content: center;
    }

    .modal-footer{
        display: flex;
        justify-content: center;
    }

    .modal-footer .suplux-btn + .suplux-btn{
        margin-left: 10px;
    }
}