/*Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

/*-----------------------
        Utilities
------------------------*/
:root {
    --suplux-dark-blue: #1C3C6B;
    --suplux-light-skyblue: #DEEBFF;
    --suplux-dark-skyblue: #1D4DA2;
    --suplux-dark-blue-text: #123293;
    --suplux-light-grey: #EAE9EC;
    --suplux-dark-grey: #6E6B7B;
    --suplux-bg-color: #EBF0F4;
    --suplux-social-icon-bg-color: #496389;
    --suplux-form-icon-color: #A5ABB2;
    --suplux-input-bg-color: #F8FAFC;
    --suplux-input-error-bg-color: #FFF3F3;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

input{
    outline: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a,
a:hover{
    color: white;
    text-decoration: none;
}

i{
    margin-right: 8px;
}

.d-flex{
    display:flex;
}

.flex-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.suplux-white-text {
    color: white;
    font-size: 20px;
}

.section-title {
    color: var(--suplux-dark-blue);
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
}

/*-------------------------
        Navbar Design
--------------------------*/
#suplux-navbar{
    position:absolute;
    top: 0;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    transition: 0.3s ease-in-out;
    z-index: 99999;
}

.navbar-header{
    width: 100px;
}

.suplux-header-flex {
    display: flex;
    justify-content: space-between;
}

.suplux-navbar-brand svg {
    transition: 0.3s ease-in-out;
}

.suplux-navbar-brand:hover svg,
.suplux-navbar-brand:focus svg {
    fill: var(--suplux-dark-skyblue);
}

.suplux-navbar-brand:hover .header-logo-stroke,
.suplux-navbar-brand:focus .header-logo-stroke {
    stroke: var(--suplux-dark-skyblue);
}

.header-logo-stroke {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12px;
    transition: 0.3s ease-in-out;
}

.suplux-navbar-element {
    display: flex;
    align-items: center;
}

.nav-bg {
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fixed {
    position: fixed !important;
}

/*--------------------------------
        Brand Button Design
---------------------------------*/
.suplux-btn{
    color: white;
    padding: 10px 25px;
    background-color: var(--suplux-dark-blue);
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.suplux-btn:hover,
.suplux-btn:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*--------------------------------
        Brand Card Design
---------------------------------*/
.suplux-card-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.suplux-card{
    width: 100%;
    background-color: white;
    padding: 20px 0;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.suplux-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.suplux-card-image {
    display: flex;
    justify-content: center;
}

.suplux-card-image svg {
    max-width: 20%;
    fill: var(--suplux-dark-skyblue);
}

.suplux-card-image img{
    width:100%;
    border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    text-align: center;
    font-size: 18px;
    margin: 30px 0 20px;
    font-weight: 300;
    color: var(--suplux-dark-grey);
}

.card-text {
    text-align: center;
    color: var(--suplux-dark-blue);
    width: 85%;
}

/*--------------------------------
        Brand Checkbox Design
---------------------------------*/
.suplux-checkbox {
    position: relative;
    appearance: none;
    margin: 0 !important;
    margin-right: 8px !important;
    border: 2px solid var(--suplux-form-icon-color);
    background-color: var(--suplux-input-bg-color);
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.suplux-checkbox:focus {
    outline: none !important;
}

.suplux-checkbox:checked {
    background-color: var(--suplux-dark-blue);
}

.suplux-checkbox::after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--suplux-input-bg-color);
}

/*---------------------------
        Footer Design
----------------------------*/
footer {
    background-color: var(--suplux-dark-blue);
    color: white;
    padding-bottom: 20px;
}

.extra-footer-info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

.extra-info-container {
    text-align: center;
}

.payment-methods-container {
    display: flex;
    margin-top: 10px;
}

.payment-method + .payment-method{
    margin-left: 5px;
}
.payment-method img {
    width: 50px;
    background-color: white;
    border-radius: 10px;
}

.payment-method.bg-transparent img{
    background-color: transparent;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icon + .social-icon{
    margin-left: 10px;
}

.social-icon a {
    background-color: var(--suplux-social-icon-bg-color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover {
    background-color: white;
    color: var(--suplux-social-icon-bg-color);
}

.social-icon a i {
    margin: 0;
    font-size: 18px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-image {
    width: 150px;
}

.footer-image svg{
    fill: white;
}

.footer-text p{
    margin: 0;
}

.footer-logo-stroke {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12px;
}
/*--------------------------
        Tablet Design
---------------------------*/
@media (max-width: 992px) {
    .suplux-card-group {   
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .section-title{
        text-align: center;
    }
}

/*--------------------------
        Mobile Design
---------------------------*/
@media (max-width: 576px) {
    .suplux-card-group {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 0 15px;
    }

    .extra-footer-info,
    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .extra-info-container{
        margin-top: 20px;
    }
}