/*Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

/*-----------------------
        Utilities
------------------------*/
:root {
    --suplux-dark-blue: #1C3C6B;
    --suplux-light-skyblue: #DEEBFF;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

input{
    outline: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a,
a:hover{
    color: white;
    text-decoration: none;
}

i{
    margin-right: 8px;
}

.d-flex{
    display:flex;
}

.justify-content-center{
    justify-content: center;
}

.suplux-white-text {
    color: white;
    font-size: 20px;
}

/*-------------------------
        Navbar Design
--------------------------*/
.suplux-navbar{
    position:absolute;
    top: 0;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

.suplux-navbar-brand {
    font-size: 30px;
}

.suplux-header-flex {
    display: flex;
    justify-content: space-between;
}

.suplux-navbar-element {
    display: flex;
    align-items: center;
}

/*--------------------------------
        Brand Button Design
---------------------------------*/
.suplux-btn{
    color: white;
    padding: 10px 25px;
    background-color: var(--suplux-dark-blue);
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.suplux-btn:hover,
.suplux-btn:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
