/*-----------------------------
        Utilities Import
------------------------------*/
@import url("Site.css");

/*---------------------------------------
        Basic Info Section Design
----------------------------------------*/
#basic-info-section{
    background-color: var(--suplux-bg-color);
    padding: 100px 0;
}

.profile-info-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
}

.profile-aside {
    height: 386px;
    background-color: white;
    border-radius: 10px;
}

.profile-image-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.edit-image-button{
    display: flex;
    align-items: center;
}

.edit-image-button .edit-button {
    position: static;
}

.profile-menu{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.profile-menu:hover{
    background-color: var(--suplux-profile-menu-color);
}

.profile-menu:hover a {
    color: var(--suplux-profile-menu-text-color);
}

.profile-menu a {
    display: block;
    width: 100%;
    color: var(--suplux-dark-grey);
    font-size: 17px;
    padding-left: 20px;
}

.info-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.info-container + .info-container{
    margin-top: 30px;
}

.profile-title {
    color: var(--suplux-dark-blue);
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

.profile-text {
    font-weight: 300;
    color: var(--suplux-dark-blue);
}

.edit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    color: var(--suplux-dark-blue);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out
}

.edit-button:hover,
.edit-button:focus{
    color: var(--suplux-dark-grey);
}

.suplux-table {
    margin-top: 20px;
}

.suplux-table tbody tr:first-child td,
.suplux-table tbody tr:first-child th {
    border-top: 0;
}

.suplux-table tbody tr td {
    width: 20%;
    color: var(--suplux-dark-grey);
}

.suplux-table tbody tr th{
    color: var(--suplux-dark-blue);
}

.suplux-table tbody tr td,
.suplux-table tbody tr th {
    padding: 15px 8px;
}

.edit-profile-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 30px;
    margin-top: 20px;
}

.edit-form-input .profile-text {
    margin-bottom: 5px;
}

.edit-form-input input,
.edit-form-input textarea {
    width: 100%;
    border: 1px solid var(--suplux-edit-profile-input-color);
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease-in-out;
    color: var(--suplux-dark-blue);
    font-weight: 500;
}

.edit-form-input input:focus,
.edit-form-input textarea:focus {
    border: 1px solid var(--suplux-dark-blue);
}

#gender-input-container {
    position: relative;
}

#gender-input-container input {
    cursor: pointer;
}

#gender-input-container span {
    position: absolute;
    top: 53%;
    right: 10px;
    transition: 0.3s ease-in-out;
}

#gender-input-container span i{
    margin: 0;
}

.arrow-rotate {
    transform: rotateZ(180deg);
}

#gender-input-container ul {
    position: absolute;
    list-style: none;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#gender-input-container ul li {
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    color: var(--suplux-dark-grey);
}

#gender-input-container ul li:hover,
#gender-input-container ul li:focus {
    background-color: var(--suplux-profile-menu-color);
    color: var(--suplux-profile-menu-text-color);
}

.edit-form-textarea,
.edit-form-button-container {
    grid-column: 1 / span 2;
}

.edit-form-button-container,
.change-password-button-container {
    display: flex;
    justify-content: flex-end;
}

.edit-form-button-container .suplux-btn:first-child,
.change-password-button-container .suplux-btn:first-child {
    margin-right: 10px;
}

/*---------------------------------------
        Transaction Log Design
----------------------------------------*/
.log-table .suplux-table thead tr th:first-child,
.log-table .suplux-table thead tr th:last-child,
.log-table .suplux-table tbody tr th
.log-table .suplux-table tbody tr td:last-child {
    width: 5%;
}

.log-table .suplux-table thead tr th,
.log-table .suplux-table tbody tr th,
.log-table .suplux-table tbody tr td {
    text-align: center;
}

.log-table .suplux-table thead tr th{
    color: var(--suplux-dark-blue);
}

.log-table .suplux-table tbody tr td:nth-child(2) {
    width: 40%;
}

/*----------------------------
        Settings Design
-----------------------------*/
.settings-table .suplux-table tbody tr td,
.settings-table .suplux-table tbody tr th {
    border: 0;
}

.settings-table .suplux-table tbody tr:first-child td,
.settings-table .suplux-table tbody tr:first-child th {
    border-bottom: 1px solid #DDDDDD;
}

.settings-table .suplux-table tbody tr:first-child th {
    color: var(--suplux-dark-grey);
}

.settings-table .suplux-table tbody tr:nth-child(2) th .edit-button {
    position: static;
    font-weight: 700;
}

.change-pass-input-container{
    display: flex;
    align-items: center;
}

.change-pass-input-container p{
   width: 20%;
   padding: 15px 8px;
   margin: 0;
   color: var(--suplux-dark-grey);
}

.change-pass-input-container .change-pass-input {
    height: 35px;
    margin: 0 8px;
    border: 1px solid var(--suplux-edit-profile-input-color);
    border-radius: 5px;
    overflow: hidden;
}

.change-pass-input{
    display: flex;
}

.change-pass-input input {
    border: 0;
    padding-left: 5px;
    width: 250px;
    color: var(--suplux-dark-blue);
}

.form-icon-container {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-password-eye-icon,
#new-password-eye-icon,
#confirm-password-eye-icon {
    cursor: pointer;
}

/*--------------------------
        Tablet Design
---------------------------*/
@media (max-width: 992px){
    .profile-info-container {
       
        display: block;
        width: 95%;
        margin: 0 auto;  
    }

    .profile-aside{
        margin-bottom: 30px;
    }
}

/*--------------------------
        Mobile Design
---------------------------*/
@media (max-width: 576px) {
    .log-table,
    .settings-table {
        overflow-x: scroll;
    }

    .log-table .suplux-table{
        width: 750px;
        max-width: 750px;
    }

    .change-pass-input-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .change-pass-input-container p{
        width: 100%;
        padding-bottom: 0;
    }

    .change-password-button-container{
        margin-top: 20px;
    }
}