@model SupLuxParibahanWebApp.Models.Reservation
@using SupLuxParibahanWebApp.Models;
@{
    ViewBag.Title = "CANCEL TICKET";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/Content/cancel-ticket-page.css")
}

<!--   search ticket section    -->
<section id="search-ticket-section">
    <div class="container">
        <form action="/Bus/CancelTicketUtk" method="post">
            <div class="search-ticket-container">
                <h2 class="ticket-title">Search Ticket For Cancellation</h2>
                <input type="text" name="utkno" value="" placeholder="Enter UTK Number To Search Ticket" />
                <button class="suplux-btn"><i class="fas fa-search"></i>Search Ticket</button>
            </div>
        </form>
    </div>
</section>

<!--    error message    -->
<section>
    <div id="no-ticket-found-msg-container" class="d-none">
        <div class="not-found-msg">
            <h1>No Such Ticket Found!</h1>
        </div>
    </div>
</section>

<!--   ticket section    -->
<section id="ticket-section" class="d-none">
    <div class="container">
        <div class="ticket">
            <h2 class="ticket-title">Ticket Information</h2>



            <div class="ticket-body">
                <p class="ticket-info">Name:</p>
                <p class="ticket-data">Mr. Aumi</p>
                <p class="ticket-info">Trip Date:</p>
                <p class="ticket-data">12-Mar-2022</p>
                <p class="ticket-info">Seats:</p>
                <p class="ticket-data">C-2, C-3</p>
                <p class="ticket-info">Total Fare:</p>
                <p id="ticket-total-fare" class="ticket-data">BDT 2400</p>
                <p class="ticket-info">Boarding Point:</p>
                <p class="ticket-data">Dhaka</p>
                <p class="ticket-info">Destination:</p>
                <p class="ticket-data">Khulna</p>
                <p class="ticket-info">Reporting Time:</p>
                <p class="ticket-data">12:20AM</p>
                <p class="ticket-info">Departure Time:</p>
                <p class="ticket-data">12:35AM</p>
                <p class="ticket-info">Coach No:</p>
                <p class="ticket-data">M4005</p>
                <p class="ticket-info">Coach Type:</p>
                <p class="ticket-data">AC (Multi)</p>
            </div>



            <div class="ticket-footer">
                <button id="discard-btn" class="suplux-btn suplux-alt-btn"><i class="fas fa-ban"></i>Discard</button>
                <button id="cancel-ticket-btn" class="suplux-btn"><i class="fas fa-remove-format"></i>Cancel</button>
            </div>
        </div>
    </div>
</section>

<!--    cancel confirm modal    -->
<section>
    <div class="modal fade" id="ticketCancelConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ticketCancelConfirmModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fas fa-exclamation-triangle warning-ex"></i> Are you sure?</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this ticket?
                </div>
                <div class="modal-footer">
                    <button type="button" class="suplux-btn suplux-alt-btn" data-dismiss="modal">No</button>
                    <button type="button" class="suplux-btn" data-dismiss="modal">Yes, Do It</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('suplux-navbar').classList.add('nav-bg');
</script>

@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/cancel-ticket-page.js")