
@{
    ViewBag.Title = "TERMS";
    @Styles.Render("~/Content/terms-page.css")
}

<!--    terms section    -->
<section id="terms-section">
    <div class="container">
        <div class="row">
            <div class="terms-container">
                <h4 class="terms-title">Terms & Conditions</h4>
                <p class="terms-text">Please carefully read the terms and conditions before using any of the services provided by SUPLUX. By using any materials, information, products or services of SUPLUX, you agree to these terms and conditions. SUPLUX holds the right to change or modify these terms and conditions at any time for any reason, without prior notice. Your continued use of the website and its services means you have accepted the modified terms and conditions. Please review the terms periodically to ensure you are up to date regarding the terms and conditions.</p>
            </div> <div class="terms-container">
                <h4 class="terms-title">General Disclaimer</h4>
                <p class="terms-text">SUPLUX does own this travel company. We are simply building an online portal which connects the customers with the travel organization. The travel products on SUPLUX are sold by our own company and we are responsible for our products, and you must understand and agree to the terms and conditions of our service providers before booking or purchasing our products through SUPLUX.</p>
            </div>
            <div class="terms-container">
                <h4 class="terms-title">Booking Terms</h4>
                <p class="terms-text">You can simply book a ticket by some clicks from your computer or mobile. All you need to do is, pick up your destinations and date of travel than search accordingly. After the search, a searchlist will apare infront of you. Pick up your suitable journey coach and then pick up your suitable seats. <strong>Remember that, you can only select 4 seats at a time.</strong> After selecting seats just proceed through payment option and pick your payment option. <strong>You have to pay 20% of the total payment to book the seats and rest of the amount should be paid in the counter. You must be at the selected counter 30 mins before the journey and clear the payments or else, your booking will be cancelled.</strong> </p>
            </div>
            <div class="terms-container">
                <h4 class="terms-title">Payment Terms</h4>
                <p class="terms-text">You can simply purchase a ticket by some clicks from your computer or mobile. All you need to do is, pick up your destinations and date of travel than search accordingly. After the search, a searchlist will apare infront of you. Pick up your suitable journey coach and then pick up your suitable seats. <strong>Remember that, you can only select 4 seats at a time.</strong> After selecting seats just proceed through payment option and pick your payment option. <strong>You have to pay the full price to purchase the tickets. You will also get 5% discount on the spot if you purchase tickets through our portal.</strong></p>
            </div>
            <div class="terms-container">
                <h4 class="terms-title">Cancellation & Refund</h4>
                <p class="terms-text">You can cancel your ticket and get your refund if you need so. <strong>In order to cancel your tickets, you have to apply for cancellation through our website before 24 hours of the journey.</strong> All you need to do is, put your ticket's UTK number in the given field and you wiil see your ticket's information. Then you just click on the cancel ticket button and the ticket will be cancelled and <strong>you will get refund in between 7-15 working days.</strong> </p>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('suplux-navbar').classList.add('nav-bg');
</script>
